In [1]:
import numpy as np
import pandas as pd

### Pegando conjunto de dados e colocando em formato de pandas

In [2]:
dataFrame1 = pd.read_excel("Arquivos/EPI_INFOBIO_CIRURGIA 2014 - 2021a.xlsx")
columnsDF1 = np.array(dataFrame1.columns)
dataFrame1

,ID,data_inter,data_cirurgia,data_alta_obito,tempo_inter_PO_dias,tempo_obito_dias,patogeno,sexo,idade,peso_kg,...,ITR,IRA,Sepse,ReintervençãoGeral,obito_hosp,GlicemiaPré,CreatPré,PSAP_Pré,FE%_Pré,EuroScore_Logístico
0,283052,2017-03-03,2017-03-20,2017-04-19,29.0,NaN,Streptococcus bovis,1,61,76.0,...,0,0,0,0,0,80,1.58,30,49,7.391390
1,467923,2013-12-21,2014-01-03,2014-01-31,28.0,NaN,0,1,62,104.0,...,0,0,0,1,0,192,1.10,30,71,5.310704
2,467923,2018-10-26,2018-12-04,2018-12-10,6.0,NaN,nao operou endocardite,1,67,104.0,...,0,0,0,0,0,110,1.23,30,44,10.622047
3,988749,2016-11-04,2016-11-17,2016-12-07,20.0,NaN,Enterococo faecalis,1,74,61.0,...,0,0,0,0,0,138,1.35,39,77,11.059984
4,A25A3A,2018-07-10,2018-07-13,2018-07-13,NaN,0.0,0,1,66,70.0,...,0,0,0,0,1,257,1.96,41,44,35.946480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,AA0426,2017-06-01,2017-06-05,2017-07-07,32.0,NaN,0,1,32,75.0,...,0,0,0,0,0,253,3.94,30,70,8.110018
112,4249A8,2014-01-03,2014-01-14,2014-02-04,20.0,NaN,0,1,55,75.0,...,0,0,0,0,0,93,1.00,47,73,4.395422
113,A20490,2018-04-09,2018-04-13,2018-10-02,NaN,169.0,Staphylococcus aureus,0,69,92.0,...,0,0,1,0,1,87,0.77,79,47,56.479614
114,A49362,2021-09-20,2021-10-01,2021-11-20,62.0,NaN,Staphylococcus aureus,1,51,60.0,...,0,1,0,0,0,157,3.51,61,50,27.948770
115,A3A670,2020-08-03,2020-08-13,2020-08-23,NaN,10.0,Streptococcus Mitis,1,82,70.0,...,1,1,0,0,1,110,0.84,30,28,84.452603

In [3]:
dataFrame2 = pd.read_excel("Arquivos/EPI_INFOBIO_CIRURGIA 2014 - 2021b (2).xlsx")
columnsDF2 = np.array(dataFrame2.columns)
dataFrame2

,ID,data_inter,data_cirurgia,data_alta_obito,tempo_inter_PO_dias,tempo_obito_dias,patogeno,sexo,idade,peso_kg,...,IRA,HD,Sepse,ReintervençãoGeral,obito_hosp,GlicemiaPré,CreatPré,PSAP_Pré,FE%_Pré,EuroScore_Logístico
0,22741,2014-03-29,2014-04-04,2014-04-13,9.0,NaN,0,0,69,69.0,...,0,0,0,0,0,223,1.00,71,64,19.514159
1,38898,2014-07-22,2014-07-23,2014-07-29,6.0,NaN,0,1,54,74.0,...,0,0,0,0,0,110,1.00,30,61,1.505431
2,63285,2014-07-07,2014-07-21,2014-07-28,7.0,NaN,0,0,55,73.0,...,0,0,0,0,0,82,1.60,30,48,8.100813
3,64174,2014-03-11,2014-03-28,2014-04-03,NaN,5.0,0,1,85,60.0,...,0,0,0,0,1,135,0.80,30,62,7.900092
4,68273,2016-05-09,2016-05-10,2016-05-18,8.0,NaN,0,0,54,73.0,...,0,0,0,0,0,98,0.58,30,64,3.365423
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,AA931A79,2019-09-30,2019-10-22,2019-12-01,NaN,39.0,0,0,79,69.0,...,0,0,0,0,1,112,1.00,30,64,7.421207
172,AA94429A,2019-10-02,2019-10-11,2019-10-16,5.0,NaN,0,0,69,63.0,...,0,0,0,0,0,112,1.00,30,46,5.907286
173,AA995335,2019-10-11,2019-10-22,2019-10-30,8.0,NaN,0,0,57,82.0,...,0,0,0,0,0,112,1.00,30,64,2.082580
174,AAA32239,2019-04-25,2019-05-03,2019-05-09,6.0,NaN,0,1,31,80.0,...,0,0,0,0,0,110,1.06,30,74,3.999066
175,AAA33193,2019-04-25,2019-05-02,2019-05-08,6.0,NaN,0,0,51,45.0,...,0,0,0,0,0,112,1.00,30,64,2.082580

### Concatenando os dois dataframes

In [4]:
# Une os dois dataframes e ignora colunas que possam não existir em um deles, no nosso caso o dataframe2 possui uma coluna a mais
dataFrameCompleto = pd.concat([dataFrame1, dataFrame2], ignore_index=True, sort=False)
# Estou testando para verificar se a coluna tem alguma valor, pois esta coluna só existia no dataframe2
colunaNaN = np.array(dataFrameCompleto.iloc[:,25])
np.where(colunaNaN != 0)

(array([  3,   6,  11,  12,  13,  16,  17,  20,  21,  24,  30,  40,  47,
         68,  70,  79,  83,  84,  86, 113, 119, 142, 214, 215, 216, 220,
        221, 222, 223, 225, 226, 227, 228, 230, 231, 232, 238], dtype=int64),)

### Dataframe completo depois de concatenar os dois
* Agora pode tratar os dados inconsistêntes como o NaN, Datas, e etc..

In [5]:
# Criando coluna de data_alta
dataFrameCompleto['data_alta'] = dataFrameCompleto['data_alta_obito']
dataFrameCompleto.loc[dataFrameCompleto['obito_hosp'] == 1,['data_alta']] = '-'
dataFrameCompleto.loc[dataFrameCompleto['obito_hosp'] == 0,['data_alta_obito']] = '-'

In [6]:
dataFrameCompleto['data_alta'] = pd.to_datetime(dataFrameCompleto['data_alta'], errors='coerce')
dataFrameCompleto['data_alta_obito'] = pd.to_datetime(dataFrameCompleto['data_alta_obito'], errors='coerce')
dataFrameCompleto

,ID,data_inter,data_cirurgia,data_alta_obito,tempo_inter_PO_dias,tempo_obito_dias,patogeno,sexo,idade,peso_kg,...,GlicemiaPré,CreatPré,PSAP_Pré,FE%_Pré,EuroScore_Logístico,endocardite_ativa,tempo_clamp,BAVpos,HD,data_alta
0,283052,2017-03-03,2017-03-20,NaT,29.0,NaN,Streptococcus bovis,1,61,76.0,...,80,1.58,30,49,7.391390,NaN,NaN,NaN,NaN,2017-04-19
1,467923,2013-12-21,2014-01-03,NaT,28.0,NaN,0,1,62,104.0,...,192,1.10,30,71,5.310704,NaN,NaN,NaN,NaN,2014-01-31
2,467923,2018-10-26,2018-12-04,NaT,6.0,NaN,nao operou endocardite,1,67,104.0,...,110,1.23,30,44,10.622047,NaN,NaN,NaN,NaN,2018-12-10
3,988749,2016-11-04,2016-11-17,NaT,20.0,NaN,Enterococo faecalis,1,74,61.0,...,138,1.35,39,77,11.059984,NaN,NaN,NaN,NaN,2016-12-07
4,A25A3A,2018-07-10,2018-07-13,2018-07-13,NaN,0.0,0,1,66,70.0,...,257,1.96,41,44,35.946480,NaN,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,AA931A79,2019-09-30,2019-10-22,2019-12-01,NaN,39.0,0,0,79,69.0,...,112,1.00,30,64,7.421207,0.0,44.0,0.0,0.0,NaT
288,AA94429A,2019-10-02,2019-10-11,NaT,5.0,NaN,0,0,69,63.0,...,112,1.00,30,46,5.907286,0.0,119.0,0.0,0.0,2019-10-16
289,AA995335,2019-10-11,2019-10-22,NaT,8.0,NaN,0,0,57,82.0,...,112,1.00,30,64,2.082580,0.0,75.0,0.0,0.0,2019-10-30
290,AAA32239,2019-04-25,2019-05-03,NaT,6.0,NaN,0,1,31,80.0,...,110,1.06,30,74,3.999066,0.0,64.0,0.0,0.0,2019-05-09
291,AAA33193,2019-04-25,2019-05-02,NaT,6.0,NaN,0,0,51,45.0,...,112,1.00,30,64,2.082580,0.0,68.0,0.0,0.0,2019-05-08

In [7]:
# Colocando data no formato brasileiro, azar
dataFrameCompleto.loc[:,'data_alta'] = dataFrameCompleto.loc[:,'data_alta'].dt.strftime('%d/%m/%Y')

C:\Users\Lukas\AppData\Local\Temp\ipykernel_5952\3344756003.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  dataFrameCompleto.loc[:,'data_alta'] = dataFrameCompleto.loc[:,'data_alta'].dt.strftime('%d/%m/%Y')
C:\Users\Lukas\AppData\Local\Temp\ipykernel_5952\3344756003.py:2: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  dataFrameCompleto.loc[:,'data_alta'] = dataFrameCompleto.loc[:,'data_alta'].dt.strftime('%d/%m/%Y')

In [8]:
dataFrameCompleto.loc[:,'data_inter'] = dataFrameCompleto.loc[:,'data_inter'].dt.strftime('%d/%m/%Y')
dataFrameCompleto.loc[:,'data_cirurgia'] = dataFrameCompleto.loc[:,'data_cirurgia'].dt.strftime('%d/%m/%Y')
dataFrameCompleto.loc[:,'data_alta_obito'] = dataFrameCompleto.loc[:,'data_alta_obito'].dt.strftime('%d/%m/%Y')

C:\Users\Lukas\AppData\Local\Temp\ipykernel_5952\1216061533.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  dataFrameCompleto.loc[:,'data_inter'] = dataFrameCompleto.loc[:,'data_inter'].dt.strftime('%d/%m/%Y')
C:\Users\Lukas\AppData\Local\Temp\ipykernel_5952\1216061533.py:1: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  dataFrameCompleto.loc[:,'data_inter'] = dataFrameCompleto.loc[:,'data_inter'].dt.strftime('%d/%m/%Y')
C:\Users\Lukas\AppData\Local\Temp\ipykernel_5952\1216061533.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  dataFrameCompleto.loc[:,'data_cirurgia'] = dataFrameCompleto.loc[:,'data_cirurgia'].dt.strftime('%d/%m/%Y')
C:\Users\Lukas\AppData\Local\Temp\ipykernel_5952\1216061533.py:2: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  dataFrameCompleto.loc[:,'data_cirurgia'] = dataFrameCompleto.loc[:,'data_cirurgia'].dt.strftime('%d/%m/%Y')
C:\Users\Lukas\AppData\Local\Temp\ipykernel_5952\1216061533.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  dataFrameCompleto.loc[:,'data_alta_obito'] = dataFrameCompleto.loc[:,'data_alta_obito'].dt.strftime('%d/%m/%Y')
C:\Users\Lukas\AppData\Local\Temp\ipykernel_5952\1216061533.py:3: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  dataFrameCompleto.loc[:,'data_alta_obito'] = dataFrameCompleto.loc[:,'data_alta_obito'].dt.strftime('%d/%m/%Y')

In [9]:
dataFrameCompleto.rename(columns={'data_alta_obito':'data_obito'}, inplace=True)

In [10]:
listColumns = list(dataFrameCompleto.columns)
listColumns.insert(4,'data_alta')
listColumns.pop(-1)

'data_alta'

In [11]:
# Reordenando colunas
dataFrameCompleto = dataFrameCompleto.loc[:,listColumns]
dataFrameCompleto

,ID,data_inter,data_cirurgia,data_obito,data_alta,tempo_inter_PO_dias,tempo_obito_dias,patogeno,sexo,idade,...,obito_hosp,GlicemiaPré,CreatPré,PSAP_Pré,FE%_Pré,EuroScore_Logístico,endocardite_ativa,tempo_clamp,BAVpos,HD
0,283052,03/03/2017,20/03/2017,NaN,19/04/2017,29.0,NaN,Streptococcus bovis,1,61,...,0,80,1.58,30,49,7.391390,NaN,NaN,NaN,NaN
1,467923,21/12/2013,03/01/2014,NaN,31/01/2014,28.0,NaN,0,1,62,...,0,192,1.10,30,71,5.310704,NaN,NaN,NaN,NaN
2,467923,26/10/2018,04/12/2018,NaN,10/12/2018,6.0,NaN,nao operou endocardite,1,67,...,0,110,1.23,30,44,10.622047,NaN,NaN,NaN,NaN
3,988749,04/11/2016,17/11/2016,NaN,07/12/2016,20.0,NaN,Enterococo faecalis,1,74,...,0,138,1.35,39,77,11.059984,NaN,NaN,NaN,NaN
4,A25A3A,10/07/2018,13/07/2018,13/07/2018,NaN,NaN,0.0,0,1,66,...,1,257,1.96,41,44,35.946480,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,AA931A79,30/09/2019,22/10/2019,01/12/2019,NaN,NaN,39.0,0,0,79,...,1,112,1.00,30,64,7.421207,0.0,44.0,0.0,0.0
288,AA94429A,02/10/2019,11/10/2019,NaN,16/10/2019,5.0,NaN,0,0,69,...,0,112,1.00,30,46,5.907286,0.0,119.0,0.0,0.0
289,AA995335,11/10/2019,22/10/2019,NaN,30/10/2019,8.0,NaN,0,0,57,...,0,112,1.00,30,64,2.082580,0.0,75.0,0.0,0.0
290,AAA32239,25/04/2019,03/05/2019,NaN,09/05/2019,6.0,NaN,0,1,31,...,0,110,1.06,30,74,3.999066,0.0,64.0,0.0,0.0
291,AAA33193,25/04/2019,02/05/2019,NaN,08/05/2019,6.0,NaN,0,0,51,...,0,112,1.00,30,64,2.082580,0.0,68.0,0.0,0.0

### Tratando NaN

In [33]:
dataFrameCompleto.fillna('-', inplace=True)
dataFrameCompleto[dataFrameCompleto.isin(['-']).any(axis=1)]

,ID,data_inter,data_cirurgia,data_obito,data_alta,tempo_inter_PO_dias,tempo_obito_dias,patogeno,sexo,idade,...,obito_hosp,GlicemiaPré,CreatPré,PSAP_Pré,FE%_Pré,EuroScore_Logístico,endocardite_ativa,tempo_clamp,BAVpos,HD
0,283052,03/03/2017,20/03/2017,-,19/04/2017,29.0,-,Streptococcus bovis,1,61,...,0,80,1.58,30,49,7.391390,-,-,-,-
1,467923,21/12/2013,03/01/2014,-,31/01/2014,28.0,-,0,1,62,...,0,192,1.10,30,71,5.310704,-,-,-,-
2,467923,26/10/2018,04/12/2018,-,10/12/2018,6.0,-,nao operou endocardite,1,67,...,0,110,1.23,30,44,10.622047,-,-,-,-
3,988749,04/11/2016,17/11/2016,-,07/12/2016,20.0,-,Enterococo faecalis,1,74,...,0,138,1.35,39,77,11.059984,-,-,-,-
4,A25A3A,10/07/2018,13/07/2018,13/07/2018,-,-,0.0,0,1,66,...,1,257,1.96,41,44,35.946480,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,AA931A79,30/09/2019,22/10/2019,01/12/2019,-,-,39.0,0,0,79,...,1,112,1.00,30,64,7.421207,0.0,44.0,0.0,0.0
288,AA94429A,02/10/2019,11/10/2019,-,16/10/2019,5.0,-,0,0,69,...,0,112,1.00,30,46,5.907286,0.0,119.0,0.0,0.0
289,AA995335,11/10/2019,22/10/2019,-,30/10/2019,8.0,-,0,0,57,...,0,112,1.00,30,64,2.082580,0.0,75.0,0.0,0.0
290,AAA32239,25/04/2019,03/05/2019,-,09/05/2019,6.0,-,0,1,31,...,0,110,1.06,30,74,3.999066,0.0,64.0,0.0,0.0
291,AAA33193,25/04/2019,02/05/2019,-,08/05/2019,6.0,-,0,0,51,...,0,112,1.00,30,64,2.082580,0.0,68.0,0.0,0.0

In [37]:
#dataFrameCompleto.loc[dataFrameCompleto[list(dataFrameCompleto.columns)].isin(['-']).any(axis=1)]

      ID data_inter data_cirurgia data_obito data_alta tempo_inter_PO_dias  \
0    NaN        NaN           NaN          -       NaN                 NaN
1    NaN        NaN           NaN          -       NaN                 NaN
2    NaN        NaN           NaN          -       NaN                 NaN
3    NaN        NaN           NaN          -       NaN                 NaN
4    NaN        NaN           NaN        NaN         -                   -
..   ...        ...           ...        ...       ...                 ...
287  NaN        NaN           NaN        NaN         -                   -
288  NaN        NaN           NaN          -       NaN                 NaN
289  NaN        NaN           NaN          -       NaN                 NaN
290  NaN        NaN           NaN          -       NaN                 NaN
291  NaN        NaN           NaN          -       NaN                 NaN

    tempo_obito_dias patogeno  sexo  idade  ...  obito_hosp  GlicemiaPré  \
0                  -      NaN   NaN    NaN  ...         NaN          NaN
1                  -      NaN   NaN    NaN  ...         NaN          NaN
2                  -      NaN   NaN    NaN  ...         NaN          NaN
3                  -      NaN   NaN    NaN  ...         NaN          NaN
4                NaN      NaN   NaN    NaN  ...         NaN          NaN
..               ...      ...   ...    ...  ...         ...          ...
287              NaN      NaN   NaN    NaN  ...         NaN          NaN
288                -      NaN   NaN    NaN  ...         NaN          NaN
289                -      NaN   NaN    NaN  ...         NaN          NaN
290                -      NaN   NaN    NaN  ...         NaN          NaN
291                -      NaN   NaN    NaN  ...         NaN          NaN

     CreatPré  PSAP_Pré  FE%_Pré  EuroScore_Logístico  endocardite_ativa  \
0         NaN       NaN      NaN                  NaN                  -
1         NaN       NaN      NaN                  NaN                  -
2         NaN       NaN      NaN                  NaN                  -
3         NaN       NaN      NaN                  NaN                  -
4         NaN       NaN      NaN                  NaN                  -
..        ...       ...      ...                  ...                ...
287       NaN       NaN      NaN                  NaN                NaN
288       NaN       NaN      NaN                  NaN                NaN
289       NaN       NaN      NaN                  NaN                NaN
290       NaN       NaN      NaN                  NaN                NaN
291       NaN       NaN      NaN                  NaN                NaN

     tempo_clamp  BAVpos   HD
0              -       -    -
1              -       -    -
2              -       -    -
3              -       -    -
4              -       -    -
..           ...     ...  ...
287          NaN     NaN  NaN
288          NaN     NaN  NaN
289          NaN     NaN  NaN
290          NaN     NaN  NaN
291          NaN     NaN  NaN

[292 rows x 59 columns]